<a href="https://colab.research.google.com/github/gcbirat12/Titanic_Survivor_Prediction/blob/main/Titanic_Survivor_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #import pandas

In [2]:
from google.colab import drive # mount the data
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train_data = pd.read_csv('/content/drive/MyDrive/titanic/train.csv') #read csv data

In [10]:
print(train_data.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

             Ticket Embarked
0         A/5 21171        S
1          PC 17599        C
2  STON/O2. 3101282        S
3            113803        S
4            373450        S

In [5]:
train_data = train_data.drop(columns='Name')

In [7]:
train_data = train_data.drop(columns='Cabin')

In [9]:
train_data = train_data.drop(columns='Fare')

In [12]:
def gender_to_number(Sex):
  if Sex == 'male':
    return 1
  if Sex == 'female':
    return 0
  else:
    return None

In [13]:
train_data['Sex'] = train_data['Sex'].apply(gender_to_number)

In [16]:
print(train_data.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch Embarked
0            1         0       3    1  22.0      1      0        S
1            2         1       1    0  38.0      1      0        C
2            3         1       3    0  26.0      0      0        S
3            4         1       1    0  35.0      1      0        S
4            5         0       3    1  35.0      0      0        S

In [15]:
train_data = train_data.drop(columns='Ticket')

In [17]:
def Embarked_to_Number(Embarked):
  if Embarked == 'S':
    return 1
  elif Embarked =='C':
    return 2
  elif Embarked =='Q':
    return 3
  else:
    return None

In [18]:
train_data['Embarked']= train_data['Embarked'].apply(Embarked_to_Number)

In [19]:
print(train_data.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0            1         0       3    1  22.0      1      0       1.0
1            2         1       1    0  38.0      1      0       2.0
2            3         1       3    0  26.0      0      0       1.0
3            4         1       1    0  35.0      1      0       1.0
4            5         0       3    1  35.0      0      0       1.0

In [22]:
print(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Embarked     889 non-null    float64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB
None